@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: radial-gradient(black , #111 , rgb(17, 17, 17));
  color: #fff;
  font-family: cursive;
}
.display{
  display: none;
}
#tickSvg{
  border: 2px solid;
  border-radius: 50%;
  background-color: lightgreen;
  padding: 2px;
}
.completed{
  border: none;
  background: transparent;
}
.completed:hover{
  background: transparent;
}